/target


# Added by cargo
#
# already existing elements were commented out

**/target
/interpreter/target
/interpreter/tmp
/playground

*.core
**/tmp
**/temp

/testing/bin
/testing/artifacts
/testing/src/__pycache__
/testing/[0-9]*-*/
/testing/hardened.asm
/testing/out.asm
/testing/out.s
/compiler/out.s
/compiler/out.wh
/testing/.claw/sessions/884576d23d2173fe
/testing/.sandbox-home
/testing/.sandbox-tmp
/testing/__pycache__
/testing/.claw/sessions/884576d23d2173fe
/testing/.claw/sessions/884576d23d2173fe
/testing/__pycache__
