/target


# Added by cargo
#
# already existing elements were commented out

**/target
/interpreter/target
/interpreter/tmp
/playground

*.core
**/tmp
**/temp

/testing/bin
/testing/artifacts
/testing/src/__pycache__
